<ul class="nav">
    <li><a href="/petition">Petition</a></li>
    <li><a href="/registration">Register</a></li>
    <li><a href="/petition/signers">See who already signed</a></li>
    <li><a href="/edit-profile">Edit Profile</a></li>
    <li><a href="/login">Login</a></li>
    <form class="" action="/logout" method="post">
    <button type="submit" name="logout">logout</button>
    </form>
</ul>
