<ul class="nav">
    <li><a href="/petition">Petition</a></li>
    <li><a href="/registration">Register</a></li>
    <li><a href="/petition/signers">See who already signed</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
