<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" type="text/css">
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Welcome to my Petiton to save the Bees</title>
    </head>
        {{> nav}} <!-- two for partials -->
    <body class="has-navbar-fixed-top">

<div class="main">
    <div class="bgimage"></div>
        {{{body}}}<!-- three for mains -->

</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="notification is-info">
    <button class="delete modal-close"></button>
    Hello, <br>
    how nice of you to visited
    Just one notice before you visit this site.
     <strong>This website is just a mockup.</strong>
    Please don't fill the forms with real information. But don't worry if you do.
    The database resets every hour. Please read the <a href="/about">privacy policy</a> if you want to.
    Users can change, delete or download their user info in the "Edit Profile" section.
    Cookies are only used to ensure the functionality of this website.
    You consent to this by clicking the "OK" Button.
    <hr/>
        <div class="modalButtons">
        <button id="cookieDecline" class="button is-warning">Decline</button>
        <button id="cookieConsent" class="button is-warning">OK</button>
        <div>
  </div>
  </div>
</div>

</body>
</html>

<script type="text/javascript" src="/script.js"></script>
