<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" type="text/css">
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Welcome to my Petiton to save the Bees</title>
    </head>
    <body>

{{> nav}} <!-- two for partials -->
<div class="main">
    <div class="bgimage"></div>
        {{{body}}}<!-- three for mains -->

</div>
    </body>
</html>
