
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class=" title">
        About
      </h1>
      <h2 class="subtitle">
        Impressum & Datenschutzerklärung
      </h2>
    </div>
  </div>
</section>

<section class="container content">
    <hr>Coded by a student @<a href="https://www.spiced-academy.com">
    <img id = "logo" src="/spiced-logo.svg" alt="Full Stack" style="height: 1rem;"></a>
</section>

<section class="container content list about">
This is a mock up website. This is not a real petition.
No real user data is being collected or stored. <br>
All used images are under the Creative Commons (CC) license. <br>
All stored user info is deleted every hour. <br>
Cookies information containes the following: <br>
1. If the site was ever visited before. <br>
2. Id of currently logged in user.


</section>
