

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class=" title">
        Save the Bees
      </h1>
      <h2 class="subtitle">
        Save the Bees, if you love honey.
      </h2>
    </div>
  </div>
</section>

<div class="hometile">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <div class="content">
            <p class="title">Why you should care</p>
            <p class="subtitle">Facts</p>
            <div class="content level-left">
              <img src="/honeyjar.svg" alt="" style="height: 8rem;">
              <ul class="column">
                  <li class="row">Important for ecosystems functioning</li>
                  <li class="row">80 to 95% of all wild plants exist because of pollinators</li>
                  <li class="row">1/3 of all food we eat depends on pollinators</li>
                  <li class="row">60% of birds rely on insects as a food source</li>
                  <li class="row">Between US $ 235 billion and US $ 577 billion annually of global food production relies on pollinators.</li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
</div>
