

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class=" title">
        Save the Bees
      </h1>
      <h2 class="subtitle">
        They really need saving.
      </h2>
    </div>
  </div>
</section>

<div class="hometile">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <div class="content">
            <p class="title">Lorem Ipsum Dolor etc!</p>
            <p class="subtitle">Bee positiv</p>
            <div class="content level-left">
              <img src="/honeyjar.svg" alt="" style="height: 8rem;">
            </div>
                <p class="level">Together we can save all the Bees</p>
          </div>
        </article>
      </div>
    </div>
</div>
