
<p>placeholder image</p>

<p>Please login</p>

{{#if error}}
<p id="error">{{error}}</p>
{{/if}}

<form class="" action="/login" method="post">
    <input type="email" name="email" value="" placeholder="email">
    <input type="password" name="password" value="" placeholder="password">
    <button type="submit" name="button">LOG IN</button>
</form>
