
<h2>Save the Bees!<h2>

<div class="textbox">
    <img src="/bee.jpg" alt="bee">
    <p> {{first}} {{last}}, please join the good cause to save the bees</p>
</div>

{{#if error}}
<p id="error">{{error}}</p>
{{/if}}

<form class="" action="/petition" method="post">
<canvas id="canSign">Signature</canvas>
<input id="signatureField" type="hidden" name="signature" value=""></input>
<button type="submit" name="button">Submit</button>
</form>

<script type="text/javascript" src="/signatureField.js">

</script>
