
<p>We need your personal data to get rich like any other company</p>

<p>Give it to us</p>

<form class="" action="/profile" method="post">
    <input type="text" name="age" value="" placeholder="age">
    <input type="text" name="city" value="" placeholder="city">
    <input type="text" name="personalHomepage" value="" placeholder="Homepage">
    <button type="submit" name="button">SIGN PETITION</button>
</form>
