
<p>thank you for signing this petition</p>

<p>placeholder for some image</p>

<p>Number of people, who have signed this petition {{numSigner}}. <a href="/petition/signers">See who they are</a></p>

<img id="signatureImg" src={{signatureUrl}} alt="signature">
