

<p>List of the last 20 people who signed this petition.</p>
<p>{{sumSigners}} people signed this petition so far</p>

<p>placeholder for some image</p>

<ul>
    {{#names}}
    <li>{{name}} {{surname}}</li>
    {{/names}}
</ul>
