<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class=" title">
    Thank you for signing this petition
      </h1>
      <h2 class="subtitle">
        <p>{{numSigner}} people signed this petition. <a href="/petition/signers">See who they are</a></p>
      </h2>
    </div>
  </div>
</section>

    <div class="container">
        <img class="signatureImg" src={{signatureUrl}} alt="signature">    
    </div>
